{% extends 'base.html.twig' %} 
{% block title %}Register{% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset(" css/style.css ") }}" 
{% endblock %} 

{% block body %}
<h1 class="text-center">Register</h1>

<div class="container">
{{ form_start(registrationForm) }} 
    {{ form_row(registrationForm.first_name) }} 
    {{ form_row(registrationForm.last_name) }} 
    {{ form_row(registrationForm.email) }} 
    {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }} 
    {{ form_row(registrationForm.agreeTerms) }}

<button type="submit" class="btn btn-success">Register</button> 
</div>
{{ form_end(registrationForm) }} {% endblock %}